fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
chromadb
pydantic
python-dotenv
ragas
pandas
datasets
tiktoken
unstructured
markdown
langchain-huggingface
sentence-transformers
dotenv
